__pycache__
.cursor
/logs
# Models directory - ignore everything except last.ckpt
/models/*
!/models/
!/models/last.ckpt
/test_output
/src/*.pdb
/src/*.pse
/src/*.mol
/src/*.png
/src/*.svg
/*.pdb
/*.mol
/analysis
/data/*
!/data/pdbbind
/analysis/casf_test/power_screening
/analysis/casf_test/power_screening.tar
# Ignore all other checkpoint files
*.ckpt
!/models/last.ckpt
.DS_Store
/slurm_logs
backup

# API keys and secrets
wandb_api_key.txt
*.key
*.secret
*_hmdb.scores
HCAR*.scores
results.txt
